.padre{
    width: 95%;
    height: 400px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    grid-template-areas: "inicio inicio inicio inicio"
    "jugadores noticias noticias noticias"
    "productos productos trofeos trofeos"
    "contacto contacto contacto contacto"
    "footer footer footer footer";
}
.inicio{
    background-color: $azul-marino;
    grid-area: inicio;
}
.jugadores{
    background-color: blue;
    grid-area: jugadores;
}
.noticias{
    background-color: rgb(9, 159, 209);
    grid-area: noticias;
}
.productos{
    background-color: $azul-marino;
    grid-area: productos;
}
.trofeos{
    background-color: $azul-oscuro;
    grid-area: trofeos;
}
.contacto{
    background-color: rgb(4, 4, 207);
    grid-area: contacto;
}
.footer{
    background-color: $azul-oscuro;
    text-align: right;
    grid-area: footer;
}